@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>ConfirmOrder</h2>
<h2>Order has been confirmed</h2>
<h3>We will </h3>
<p>
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>

